/* Common Css Start */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap');

body {
    background: #F6F6F6;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    text-decoration: none;
}

:root {
    /*color*/
    --focus-color: #5D5FEF;
    --regular-font-color: #949494;
    --mid-font-color: #515151;
}

.user_icone {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: var(--focus-color);
}

.active {
    background-color: var(--focus-color);
    color: #fff;
    padding: 8px 15px;
    border-radius: 10px;
}

.active:hover {
    color: #fff;
}

/* ||Common Css End|| */

#loader {
    position: fixed;
    background: transparent;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

/* Nav Css Start */
#nav .container {
    border-color: var(--mid-font-color);
}

.logo {
    font-family: 'Fredoka One', cursive;
    color: var(--focus-color);
}

.logo.focus {
    background-color: var(--focus-color);
    padding: 0 10px;
}

#nav ul li a {
    color: var(--mid-font-color);
    font-size: 18px;
    padding-left: 15px;
    transition: .2s all linear;
}

#nav ul li a:hover {
    color: var(--focus-color);
}

/* ||Nav Css End|| */

/* News Nav Css Start */
#news-nav a {
    background: transparent;
    color: var(--mid-font-color);
    font-size: 18px;
    transition: .3s all linear;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 10px;
}

#news-nav a:hover {
    background-color: var(--focus-color);
    color: #fff;
}

/* ||News Nav Css End|| */

/* News Count Css Start */
#news-count h2 {
    font-size: 18px;
    padding: 10px 20px;
}

/* ||News Count Css End|| */

/* News List Css Start */
#news-container .card {
    margin-bottom: 16px;
    border: 0;
}

.card_footer a {
    color: var(--mid-font-color);
}

.card_footer a .fa-clipboard {
    font-size: 20px;
    color: var(--focus-color);
}

/* ||News List Css End|| */

/* Modal Css Start */
.modal h5.modal-title {
    color: var(--focus-color);
}

.modal .modal-text {
    text-align: justify;
}

.modal button {
    display: inline-block;
}

/* ||Modal Css End|| */